<a href="https://colab.research.google.com/github/pavan-sai-ch/BDA-inClass/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#task 1, reverse and delete 2 characters
text = 'python'
text_updated = text[:-2]
print(text_updated[::-1])

htyp

In [17]:
#task 2, replace strings
input_text = "I love playing with python"
replacing_text = 'pythons'
new_text=input_text.replace('python', replacing_text)
print(new_text)

I love playing with pythons

In [19]:
#tast 3,
score = 90
if score>90:
  print('A')
elif score>80: print('B')
elif score>70: print('C')
else: print('F')

B

In [20]:
#task 4
x = [23, 'Python', 23.98]
list_x = []
for _ in x:
  list_x.append(type(_))

print(x,list_x)

[23, 'Python', 23.98] [<class 'int'>, <class 'str'>, <class 'float'>]

In [32]:
#task 5
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
#
print("Length of IT companies ", len(IT_companies))
#
IT_companies.add('Twitter')
#
IT_companies.update(['X', 'OpenAI','Canonical'])
#
IT_companies.remove('Facebook')
# when element not found, remove will raise error, discard doesn't
joined = A.union(B)
#
intersect = A.intersection(B)
#
print(A.isdisjoint(B))
#
joinAB = A.union(B)
joinBA = B.union(A)
#
print(A.symmetric_difference(B))
#
del A
del B
age_set = set(age)
print(len(age), len(age_set))

Length of IT companies  7
False
{27, 28}
8 5